<mat-toolbar>
  <span>Movies Store</span>
  <span class="spacer"></span>
  <!-- <button matButton routerLink="add" aria-label="To add a movie" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">Add Movie
  </button> -->
  <button matButton routerLink="" aria-label="To show movie list" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">List Movies
  </button>
  @if (isLoggedIn) {
  <button matButton routerLink="add" routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">
    Add Movie
  </button>

  <button matButton routerLinkActive="active-button" (click)="logoutCurrentUser()">
    Logout
  </button>
  } @else {
  <button matButton aria-label="Login user" routerLinkActive="active-button" routerLink="login">
    Login
  </button>
  }
</mat-toolbar>